@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
body {
  font-family: "Gothic A1", sans-serif;
}
.my-grey-color {
  color: rgb(36, 30, 18) !important;
  font-weight: 500;
}
.my-redish-color-txt {
  color: #ff424d;
}
.my-redish-color {
  background-color: #ff424d;
}
::placeholder {
  color: #666;
  margin-left: 20px;
}
input:focus {
  border-bottom: 1px solid #fff !important;
  -webkit-box-shadow: 0 1px 0 0 #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/*navbar /in order to put the icons beside the word */
nav,
.btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}
nav ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
/*navbar/ change bg & add some colors and style on hover  */
nav ul a:hover {
  background-color: transparent;
}
.my-nav-hover:hover {
  text-decoration: underline;
}

nav ul a:first-child div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60%;
}

/* logo */
.icon {
  fill: red;
}
/* dropdown menu */
.dropdown-content {
  padding: 5px 0 !important;
}
.dropdown-content li {
  padding: 5px !important;
}
:focus-visible {
  outline-style: none;
}

.dropdown-content li > a,
.dropdown-content li > span {
  padding: 10px 16px;
}
.dropdown-content li > a > .material-icons {
  -webkit-text-fill-color: #a9d6e5;
  -webkit-text-stroke-width: 1px;
  -wibkit-text-stroke-color: #013a63;
}
/* search */
.navbar-fixed > .row > .col > .section-search > .input-field > input {
  font-size: 14px;
  border-radius: 20px;
  height: 20%;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-field .prefix {
  width: 1.5rem;
  font-size: 1.5rem;

  margin-left: 5px;
  top: 0.3rem;
}
/* I have a problem with the menu icon on small screen , I tried to call only this UL in many ways but to make it grid but it doesn't work   */
/* the right section of the nav */
/* .navbar-fixed > nav > .nav-wrapper > ul:nth-child(2) {
 
  display: grid !important;

  grid-template-columns: 1fr 2fr !important;
  grid-template-areas: "login button " !important;
} */
/* .grid-login {
  grid-area: login;
}
.grid-btn {
  grid-area: button;
}
.menu {
  grid-area: menu;
} */
/* nav-btn/right section */
.btn {
  border-radius: 30px;
  background-color: #ff424d;
  border: 2px solid #ff424d;
  font-weight: 500;
  text-transform: none;
}
nav ul a.btn {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 80%;
}
.btn:hover {
  box-shadow: none;
  color: #ff424d !important;
  background: white;
}

/* mobile nav */
#mobile-demo {
  width: 100%;
}
#mobile-demo li {
  padding: 5px 20px 0 0px;
}
#mobile-demo li:first-child a {
  display: contents;
}
#mobile-demo li:first-child a i {
  display: flex;
}
#mobile-demo .divider {
  padding: 0 !important;
}
#mobile-demo li .material-icons {
  font-size: 35px;
  font-weight: lighter;
  margin-top: 1%;
  cursor: pointer;
}
.sidenav li > a:hover {
  background-color: transparent;
}

/* -------------------------------------------------------------------end nav */

.my-video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-video video {
  width: 90%;
  position: relative;
}

header .row .col .btn-large {
  text-transform: none;
  border-radius: 30px;
  background-color: #ff424d;
  font-weight: 500;
}
#video-section .row {
  margin: 5%;
}

h1 {
  margin-top: 0;
  font-family: "Quicksand", sans-serif;
}
/* ----------------------------end video section */
/* start search section */
.my-container {
  padding: 0 5%;
}

h2 {
  font-family: Walsheim, sans-serif;
  font-size: 2.5em;
  margin-top: 10%;
  margin-left: -8%;
}
.container .section-search .input-field input {
  border-radius: 20px;
  padding-left: 2px;

  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container .row #my-search-btn {
  width: 100% !important;
}
#my-search-btn {
  align-self: middle;
  margin-top: 20px;
}
/* ----------------------------end search section */
/* start text section */
p {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 400 !important;
}
/* ----------------------------end text section */
/* start card section */
.my-container {
  padding: 10%;
}

h3 {
  font-family: Walsheim, sans-serif;
  font-weight: 700 !important;
  margin: 0.5rem 0rem;
}
.image-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-txt a p {
  margin: 0;
  font-weight: 700;
}
.image-txt div svg {
  font-size: 2rem;
  margin-left: 15px;
  opacity: 0.7;
}
.image-txt:hover a {
  text-decoration: underline;
  color: red;
}

@media all and (max-width: 990px) {
  .navbar-fixed {
    height: 128px;
    background-color: white;
  }
  .my-right-nav,
  .my-left-nav {
    height: 64px;
  }
  /* .navbar-fixed > nav > .nav-wrapper > ul:nth-child(2) {
 
  display: grid !important;

  grid-template-columns: 1fr 2fr 1fr !important;
  grid-template-areas: "login button menu" !important;*/

  #my-search-btn {
    margin-top: 0px;
  }
  h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5em;
    margin-top: 10%;
    margin-left: 0;
  }
  .my-container {
    padding: 0%;
  }
}
@media all and (max-width: 600px) {
  #my-right-nav #test {
    width: 50% !important;
  }

  h1 {
    font-size: 3.5rem;
  }
  .my-video video {
    width: 100%;
    margin: auto;
  }
  #video-section .row {
  }
  #video-section .row {
    margin: 15%;
  }
  #video-section .row .order1 {
    margin-bottom: 20%;
  }
}
