@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
/* ---------------------header section----------- */

header {
  width: 100%;
  height: 70vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 49% 100%, 0 73%);
  position: relative;
  padding-top: 45%;
  margin-bottom: 15vh;
  clear: both;
}
header::before {
  content: "";
  position: absolute;
  background-image: url(images/cover2.jpg);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  z-index: -2;
}
header::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  opacity: 0.3;
  clip-path: polygon(48% 100%, 100% 0, 99% 100%, 0 100%, 0 0);
  z-index: -1;
}
header h1 {
  background: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.5px 1px orangered;
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  margin-left: 1%;
}
/* --------------------end header section --------------- */
main {
  width: 100%;
  z-index: 1;
  /* background-color: tomato; */
}
main section {
  width: 95%;
  margin: auto;
  /* background-color: yellow; */
}
main > section > h2 {
  color: red;
  font-size: 1.7rem;
  width: 100%;
  margin-bottom: 20%;
  text-align: center;
  font-style: italic;
  /* background-color: turquoise; */
}
/* ------------------- start grid float section ------------------- */
.grid-floats {
  width: 100%;
  /* background-color: slateblue; */
}
.grid-floats > .grid-item {
  width: 100%;
  list-style: none;
  color: #333;
  /* background-color: deeppink; */
  /* height: 100vh; */
}
.grid-floats > .grid-item > h3 {
  /* margin-left: 3%; */
  margin: 3vh 0 3vh 3%;
}
.grid-floats > .grid-item > p {
  margin: 0 0 15vh 3%;
  text-align: start;
}
.grid-floats > .grid-item > img {
  width: 90%;
  margin: 5%;
  /* background-color: #333; */
}
.grid-floats:nth-child(2) > p {
  direction: rtl;
  margin: 0 3% 15vh 0%;
}
/* ________________end grid float section ___________ */

/* ----------media Q foe tablet------------ */
@media all and (min-width: 600px) and (max-width: 1024px) {
  body {
    /* background-color: black; */
  }
  header {
    padding-top: 15%;
  }
  header > h1 {
    font-size: 6rem;
    margin-left: 3%;
  }
  /*end editing header------ */
}
/* ---------------media Q for desktop------ */
@media all and (min-width: 1025px) {
  header {
    padding-top: 10%;
  }
  header > h1 {
    text-shadow: 1px 2px orangered;
    font-size: 8rem;
  }
  /* end editing header ----- */
}
